{% extends "base.html" %}

{% block section %}
    <nav class="container">
        <h1>COMPRA / VENTA / INTERCAMBIO</h1>
    </nav>
        <nav class="container">
            <section class="container">  
                <ul>
                    <li><a href="/">movimientos</a></li>
                    <li><a class="inactivo">purchase</a></li>
                    <li><a href="/status">status</a></li>
                </ul>
                <article>
                    <ul>
                            
                        <li class="error">{{msgError}}</li>
                           
                    </ul>
                </article>
                <form action="/purchase" method = "POST">
                    <label> FROM :</label>
                    <select name="value_from" value="{{form.value_from}}">
                        <option value="EUR" {% if form.value_from == "EUR" %} selected {% endif %}>EUR</option>
                        <option value="BTC" {% if form.value_from == "BTC" %} selected {% endif %}>BTC</option>
                        <option value="ETH" {% if form.value_from == "ETH" %} selected {% endif %}>ETH</option>
                        <option value="USDT" {% if form.value_from == "USDT" %} selected {% endif %}>USDT</option>
                        <option value="BNB"{% if form.value_from == "BNB" %} selected {% endif %}>BNB</option>
                        <option value="XRP" {% if form.value_from == "XRP" %} selected {% endif %}>XRP</option>
                        <option value="ADA" {% if form.value_from == "ADA" %} selected {% endif %}>ADA</option>
                        <option value="SOL" {% if form.value_from == "SOL" %} selected {% endif %}>SOL</option>
                        <option value="DOT" {% if form.value_from == "DOT" %} selected {% endif %}>DOT</option>
                        <option value="MATIC" {% if form.value_from == "MATIC" %} selected {% endif %}>MATIC</option>
                    </select>
                    <label> QUANTITY FROM</label>
                    <input type="number" name="from_q" value="{{form.from_q}}" required>
                    <label> TO :</label>
                        <select name="value_to" value="{{form.value_to}}">
                        <option value="EUR" {% if form.value_to == "EUR" %} selected {% endif %}>EUR</option>
                        <option value="BTC" {% if form.value_to == "BTC" %} selected {% endif %}>BTC</option>
                        <option value="ETH" {% if form.value_to == "ETH" %} selected {% endif %}>ETH</option>
                        <option value="USDT" {% if form.value_to == "USDT" %} selected {% endif %}>USDT</option>
                        <option value="BNB"{% if form.value_to == "BNB" %} selected {% endif %}>BNB</option>
                        <option value="XRP" {% if form.value_to == "XRP" %} selected {% endif %}>XRP</option>
                        <option value="ADA" {% if form.value_to == "ADA" %} selected {% endif %}>ADA</option>
                        <option value="SOL" {% if form.value_to == "SOL" %} selected {% endif %}>SOL</option>
                        <option value="DOT" {% if form.value_to == "DOT" %} selected {% endif %}>DOT</option>
                        <option value="MATIC" {% if form.value_to == "MATIC" %} selected {% endif %}>MATIC</option>
                        </select>
                        <BR></BR>
                        <input type="submit" name="calcular" value="calcular">
                        <label> QUANTITY TO</label>
                        <input type="number" name="to_q" value="{{form.to_q}}">
                        <BR></BR>
                        <label >P.U</label>
                        <input type="number" name="P.U" value="{{form.P_U}}" >
                        <BR></BR>
                        <input type="submit" name="comprar" value="comprar">
                </form>
               

            
        </nav>        
{% endblock%} 