{% extends "base.html" %}

{% block section %}
    <nav class="container">
        <h1>MYCRIPTO</h1>
        </nav>
        <nav class="container">
        <section class="container">  
            <ul>
                <li><a href="/">movimientos</a></li>
                <li><a href="/purchase">purchase</a></li>
                <li><a class="inactivo">status</a></li>
            </ul>
            <div>
                <h1>ESTADO DE LA INVERSION</h1>
            </div>
            <table role="grid">
                <tr>
                    <th>INVERTIDO : </th>
                    <TD>{{compras}}</TD>
                </tr>
                <tr>
                    <th>RECUPERADO : </th>
                    <TD>{{ventas}}</TD>
                </tr>
                <tr>
                    <th>VALOR DE COMPRA : </th>
                    <TD>{{valor_de_compra}}</TD>
                </tr>
                <tr>
                    <th>VALOR DE COMPRA : </th>
                    <TD>{{valor_actual}}</TD>
                </tr>

            </table>
        </section> 
    </nav>
{% endblock%}