{% extends "base.html" %}

{% block section %}
    <nav class="container">
        <h1>MYCRIPTO</h1>
        </nav>
        <nav class="container">
        <section class="container">  
            <ul>
                <li><a href="/">movimientos</a></li>
                <li><a href="/purchase">purchase</a></li>
                <li><a class="inactivo">status</a></li>
            </ul>
            <div>
                <h1>ESTADO DE LA INVERSION</h1>
            </div>
            <article>
                    <ul>
                    
                            <li style = "color:red">{{data}}</li>
                         
                    </ul>
            </article>
        </section> 
    </nav>
{% endblock%}